node_modules/*
interactive_article/node_modules
interactive_article/build
.DS_Store
/build
/llm-consistency-vis
ipynb_experiments/venv/*
ipynb_experiments/.ipynb_checkpoints/*
ipynb_experiments/__pycache__/*
user_study_results/*/*.csv
latex/*
src/cached_data/examples_atepp.json