.wordgraph-holder {
    width: 180vw;
    background-color: rgba(0, 0, 0, .05);
    padding: 10px;
}

.hidden {
    visibility: hidden;
}

text {
    cursor: default;
}

/* .node, .link {
    transition: opacity filter 2s ease;
} */